<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.numad22sp_yutongshang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_yt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_yt_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD22Sp_YutongShang">
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.NUMAD22Sp_YutongShang.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>